{% extends "base.html" %}
{% block announce %}
<style>.md-banner{background-color:var(--md-accent-fg-color);}</style>
<span>
  <strong>
    This package is still in beta, please expect its behavior
    to change in the future.
  </strong>
</span>
{% endblock %}
{% block content %}
{% if page.nb_url %}
    <a href="{{ page.nb_url }}" title="Download Notebook" class="md-content__button md-icon">
        {% include ".icons/material/download.svg" %}
    </a>
{% endif %}

{{ super() }}
{% endblock content %}