/*---------- Stretch "RuNNer documentation" logo. ----------------------------*/
.md-header__button.md-logo img, .md-header__button.md-logo svg{
  width: 60%;
  height: 60%;
}

.md-header__button.md-logo {
  margin-right: -5%;
}

/*---------- Align icons and emojis correctly with text ----------------------*/
.twemoji {
  vertical-align: text-bottom !important
}

/*---------- Resize LaTeX equations so that they fit the font more nicely ----*/
.MathJax {
font-size: 1.15em !important;
}

/*---------- Setup of mkdocstrings -------------------------------------------*/
/* Indentation. */
div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: .1rem solid var(--md-default-fg-color--lightest);
  margin-bottom: 80px;
}

h3.doc-heading, h4.doc-heading{
  margin-bottom: -.8em;
}

/* Indentation. */
div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: .05rem solid var(--md-typeset-table-color);
}

/* Mark external links as such. */
a.external::after,
a.autorefs-external::after {
  /* https://primer.style/octicons/arrow-up-right-24 */
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.25 15.5a.75.75 0 00.75-.75v-9a.75.75 0 00-.75-.75h-9a.75.75 0 000 1.5h7.19L6.22 16.72a.75.75 0 101.06 1.06L17.5 7.56v7.19c0 .414.336.75.75.75z"></path></svg>');
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.25 15.5a.75.75 0 00.75-.75v-9a.75.75 0 00-.75-.75h-9a.75.75 0 000 1.5h7.19L6.22 16.72a.75.75 0 101.06 1.06L17.5 7.56v7.19c0 .414.336.75.75.75z"></path></svg>');
  content: ' ';

  display: inline-block;
  vertical-align: middle;
  position: relative;

  height: 1em;
  width: 1em;
  background-color: var(--md-typeset-a-color);
}

a.external:hover::after,
a.autorefs-external:hover::after {
  background-color: var(--md-accent-fg-color);
}
